{
  "data_dir": "{{ consul_data_dir | default('/var/consul') }}",
  "node_name": "{{ node_name | default(ansible_hostname) }}",
  "datacenter": "{{ consul_datacenter | default('main') }}",
  "bind_addr": "{{ ansible_default_ipv4.address }}",
  "server": true,
  "enable_syslog": false,
  "ui": true
}
