{
  "service": {
    "name": "nomad-server",
    "tags": ["nomad", "consul"],
    "address": "{{ ansible_default_ipv4.address }}",
    "port": 4646,
    "enable_tag_override": false,
    "checks": [
      {
        "script": "true",
        "interval": "10s",
        "args": ["ls"]
      },
      {
        "id": "chk2",
        "name": "/health",
        "http": "http://localhost:4646/health",
        "interval": "15s"
      }
    ]
  }
}
